In [1]:
print("Hello World")

Hello World

In [4]:
age = "How old are you?"
print("Question:" + age)

Question:How old are you?

In [12]:
def compare(A,B):
    if A>B:
        print("A>B")
    else: 
       print("A<B")

compare(23,32)

A<B

In [9]:
if 5>2:
    print("Five is probably Greater")
if 5>2:
                    print("Five is probably Greater")

Five is probably Greater
Five is probably Greater

In [1]:
#this is a comment
print("Hello, World man")

Hello, World man

In [6]:

"good morning"
print("Hello world")
print("Hello worldno")

Hello world
Hello worldno

In [11]:
print("""Hello
      


fjskfjsf

world""")

Hello



fjskfjsf

world

In [1]:
#Put \ in front of an inverted comma in order to put " or ' in a string. 

print("Ey my naem 'jeff'")
print('my naem \'jeff\'' )
print('Ey my naem "jeff"')

Ey my naem 'jeff'
my naem "jeff"
Ey my naem "jeff"

In [19]:
print(45%2)

'A'<='B'and'A'=='B'


print('20 and 30:',20 and 30, 'Last legitimate vaule is printed')
print('20 or 30:',20 or 30, 'First legitimate vaule is printed')

1
20 and 30: 30 Last legitimate vaule is printed
20 or 30: 20 First legitimate vaule is printed

In [22]:

print(45**3)
print(23%2)
[3,2,4,3,2,4,5]

91125
1

[3, 2, 4, 3, 2, 4, 5]

In [2]:
def multiply(a,b):
    _res = a*b
    print("multiply",a,"and",b,"is",_res)
multiply(23,34)
multiply(23,333)
multiply(223,434)

multiply 23 and 34 is 782
multiply 23 and 333 is 7659
multiply 223 and 434 is 96782
multiply 54 and 45 is 2430

In [29]:
x = 10
print(x)
y = 20
print(y)

print(x+y)

10
20
30

In [30]:
#DONOT START VARIAE NAMES WITH NUMBER

10TEN = 1O #BADDDD
ten = 10 #good

SyntaxError: invalid decimal literal (3539062076.py, line 3)

In [20]:
#float
tau:float = 6.28
print(type(tau))

#int
anInteger:int = 3536
print(type(anInteger))
multiply(tau,anInteger)
#complex
complicate:complex = 2+3j
print(type(complicate))

<class 'float'>
<class 'int'>
multiply 6.28 and 3536 is 22206.08
<class 'complex'>

complex

In [1]:
compare("W","A")

NameError: name 'compare' is not defined

In [11]:
def multiply(a,b):
    _res = a*b
    print(f"multiply {a} and {b} is {_res}")
multiply(23,34)
multiply(23,333)
multiply(223,434)

multiply 23 and 34 is 782
multiply 23 and 333 is 7659
multiply 223 and 434 is 96782

In [10]:
#f -> formatted string method
lang1 = "Java"
lang2 = "C++"
print(f"{lang1} is the worst language")
print("{} is the worst language".format(lang2))

print("{} is the worst language".format("C++"))

print(f"{lang2} is worse than {lang1}")
print("{} is worse than {}".format(lang1, lang2))

Java is the worst language
C++ is the worst language
C++ is the worst language
C++ is worse than Java
Java is worse than C++

In [18]:
class_starts = 3
class_arival = 2

def learning(a,b):
    _res = a<b
#Format string f can thus be used to create descrptive text using variables of type other than string
    print(f"Did you arrive on Time? :{_res}")
learning(2,3)
learning(5,3)
learning(223,434)
learning(class_arival,class_starts)

Did you arrive on Time? :True
Did you arrive on Time? :True
Did you arrive on Time? :True
Did you arrive on Time? :True

In [19]:
#Comparison operator ==
#Assingnment opertaor =
class_starts == class_arival

False

In [16]:
def iterate(i:int):
    if i > 0:
        i -= 1
        print(i)
        iterate(i)
    

iterate(10)

9
8
7
6
5
4
3
2
1
0

In [25]:




def passOrFail(*l:list):
    fail_marks = 20
    for i in l:
        if i > fail_marks:
            print(f"You have passed. Your marks are {i/100}%")
        else:
            print(f"You have failed LoL. Your marks are {i/100}%")    



def Marks(name,i:int):
    name = [ ]
    while i > 50:
        name.append(i/50*100)
        i -= 1


Bruh =[]
print(Marks(Bruh,90))
passOrFail(85,89,54)

None
You have passed. Your marks are 0.85%
You have passed. Your marks are 0.89%
You have passed. Your marks are 0.54%