Tuples
They allow us to create a list whoose values that cannot be changed.

In [ ]:
dimension = (0,250)
print(dimension[0])
print(dimension[1])

0
250

In [ ]:
dimension = (0,250)
dimension[0] = 1

TypeError: 'tuple' object does not support item assignment

TO define a tuple with only one element, use (element,). Saving as (element) will only save element

In [ ]:
my_t = (3,)
print(type(my_t))
print(type(my_t))
my_nott = (3)
print(type(my_nott))
print(type(my_nott))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'int'>

Looping through Tuple

In [ ]:
dimension = (0,250)
for i in dimension:
    print(i)

0
250

We cannot redefine an item in tuple, but we can redfine whole tuple.

In [ ]:
dimension = (0,250)
print("Original Dimension:")
for i in dimension:
    print(i)
dimension = (400,200)
print("Modified Dimension")
for i in dimension:
    print(i)

Original Dimension:
0
250
Modified Dimension
400
200